body,
html,
.App,
#root {
  width: 100%;
  /* height: 100%; */
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.content {
  width: 1000px;
  height: auto;
}

.slidbar {
  width: 300px;
  position: fixed;
  top: 100px;
  right: 100px;
}

.slidbar div.active {
  color: red;
}
